/* browser settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* browser settings */

/* All html */
html {
  font-family: "Inter Tight", sans-serif;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  transition: all linear 0.4s;
}

h1 {
  font-size: 68px;
}

.title {
  font-size: 64px;
  color: #1e1e1e;
  margin-bottom: 40px;
  text-transform: capitalize;
}

p {
  font-size: 18px;
  line-height: 135%;
}

body {
  background-color: #101010;
  background-color: #fff1e6;
  margin: 0px 0px;
}

hr {
  opacity: 0.2;
  margin-bottom: 40px;
}
/* All html */

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 20px 80px;
}

header .logo-img {
  width: 130px;
  height: 130px;
}

header .logo-img img {
  width: 100%;
}

header .left-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

header .right-nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

header .right-nav a {
  background: hsla(4, 93%, 67%, 1);

  background: linear-gradient(
    180deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9655B", endColorstr="#EE821A", GradientType=1 );
  color: #f7f7f7;
  padding: 24px 48px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  transition: all linear 0.2s;
}

header .right-nav .language {
  background: none;
  background-color: rgb(251, 133, 0, 0.1);
  border: 1px solid #f7f7f7;
  display: flex;
}

header .right-nav a:hover {
  transform: translateY(-8%);
  transition: all linear 0.2s;
}

nav {
  display: flex;
  gap: 40px;
  text-transform: capitalize;
}

nav a {
  color: #f7f7f7;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: all linear 0.2s;
}

nav a:hover {
  color: #fb8500;
  transform: translateY(-8%);
  transition: all linear 0.2s;
}

/* animations */
@keyframes current {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-20%);
  }
}
/* animations */

nav .active {
  color: #fb8500;
  font-size: 22px;
  font-weight: 600;
  animation-name: current;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  transition: all linear 0.2s;
}
/* header */

/* main*/

/* 01 hero-section */
.hero-section {
  width: 100%;
  height: 100vh;
  /* border-radius: 24px; */
  background: linear-gradient(rgba(153, 83, 3, 0.8), rgba(30, 30, 30, 0.7)),
    url("./img/hero\ 2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-gallery-section {
  width: 100%;
  height: 95vh;
  background: linear-gradient(rgb(251, 133, 0, 0.3), rgba(30, 30, 30, 0.7)),
    url("./img/hero\ img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-contact-section {
  width: 100%;
  height: 65vh;
  background: linear-gradient(rgb(251, 133, 0, 0.3), rgba(30, 30, 30, 0.7)),
    url("./img/card\ image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section hr {
  color: #f7f7f7;
  margin: 10px 0px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 950px;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -52%);
  text-align: center;
  color: #ffffff;
}

.hero-contact-section .hero-content {
  top: 40%;
}

.hero-content h1 {
  text-transform: capitalize;
  width: 100%;
}

.hero-content p {
  font-size: 20px;
}

.hero-content a {
  text-decoration: none;
  text-transform: capitalize;
  /* box-shadow: -8px 8px 1px rgb(255, 255, 255, 0.2); */
  color: #f7f7f7;
  font-size: 20px;
  font-weight: 600;
  background: hsla(4, 93%, 67%, 1);

  background: linear-gradient(
    180deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9655B", endColorstr="#EE821A", GradientType=1 );
  width: 300px;
  padding: 32px 0px;
  border-radius: 10px;
  transition: all linear 0.4s;
}

.hero-content a:hover {
  transform: rotate(-2deg);
  transition: all linear 0.2s;
}

.path {
  display: flex;
  gap: 24px;
}

.path a {
  background: none;
  padding: 0px;
  width: fit-content;
}

.path .active {
  color: #fb8500;
}

/* 01 hero-section */

/* about-section */
.about-section,
.causes-section,
.partners {
  padding: 100px 100px;
}
* .about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-flex-container {
  display: flex;
  gap: 80px;
  transform: scale(1);
  margin-top: 40px;
}
/* about-section */

/* left about */
.left-about {
  width: 60%;
}
/* left about */

/* top three section */
.two-cards {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 24px;
}
/* top three section */

/* card */
.two-cards .card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
  height: 272px;
  border: 2px dashed #ffcece;
  background-color: #fff1f1;
  border-radius: 24px;
  padding: 32px;
  color: #1e1e1e;
}

.card h1 {
  color: #fb8500;
  font-size: 40px;
}

.card h2 {
  font-size: 48px;
  color: #d9d9d9;
}

.two-cards .card {
  transition: all linear 0.4s;
}

.two-cards .active h1 {
  color: #f7f7f7;
}

.two-cards .active {
  background: hsla(4, 93%, 67%, 1);

  background: linear-gradient(
    180deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9655B", endColorstr="#EE821A", GradientType=1 );
  color: #f7f7f7;
  border: none;
  transition: all linear 0.4s;
}

.two-cards .patterns {
  background: url("./img/card\ image.jpg");
  background-position: center;
  background-size: cover;
  border: none;
}

.two-cards .patterns:hover {
  background: url("./img/card\ image\ 2.jpg");
  background-position: center;
  background-size: cover;
}

.card:hover {
  background: hsla(4, 93%, 67%, 1);

  background: linear-gradient(
    90deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9655B", endColorstr="#EE821A", GradientType=1 );
  color: #f7f7f7;
  border: none;
  transform: translateY(-2%);
  transition: all linear 0.4s;
}
/* card */

/* one card */
.one-card .card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
  height: 280px;
  border: 1px solid #d9d9d9;
  border-radius: 24px;
  padding: 40px;
  color: #1e1e1e;
}

.one-card .card:hover {
  background: hsla(4, 93%, 67%, 1);

  background: linear-gradient(
    90deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9655B", endColorstr="#EE821A", GradientType=1 );
  color: #f7f7f7;
  border: none;
  transform: translateY(-2%);
  transition: all linear 0.4s;
}
/* bottom two section */

/* causes section */
.causes-section {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.causes-section .video,
.causes-section .content {
  width: 50%;
}

.causes-section .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 40%;
}

.causes-section .content p {
  font-size: 19px;
}

.causes-section .content h1 {
  text-transform: capitalize;
}

.causes-section .content a {
  background: hsla(4, 93%, 67%, 1);

  background: linear-gradient(
    90deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(4, 93%, 67%, 1) 0%,
    hsla(29, 86%, 52%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9655B", endColorstr="#EE821A", GradientType=1 );
  padding: 30px;
  width: 250px;
  color: #f7f7f7;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  font-size: 19px;
  font-weight: 600;
  border-radius: 10px;
  transition: all linear 0.2s;
}

.causes-section .content a:hover {
  transform: rotate(-4deg);
  transition: all linear 0.2s;
}

.causes-section .video iframe {
  /* border-radius: 24px; */
  width: 100%;
  height: 650px;
  border-radius: 8px;
}

/* causes section */

/* partners */
.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.partners .content p {
  font-size: 20px;
  width: 900px;
}

.partners-logos {
  width: 100%;
}

.partners img {
  width: 100%;
}
/* partners */

/*==================== gallery page======================= */

/* gallery */

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 60px;
}

.gallery .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery .row img {
  width: 100%;
  height: 550px;
  border-radius: 24px;
  transition: all linear 0.4s;
}

.gallery .row div img:hover {
  border-radius: 24px;
  transform: rotate(2deg);
  transition: all linear 0.4s;
}
/* gallery */

/* contact section */
.contact-section {
  display: flex;
  gap: 32px;
  padding: 100px;
}

.contact-section .info {
  background-color: #fff1e6;
  width: 33.33%;
  padding: 48px;
  border: 2px dashed #ffcece;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-section .info h1 {
  font-size: 32px;
  color: #fb8500;
}

.contact-section .info a {
  color: #fb8500;
  text-decoration: none;
}
/* contact section */

/* footer */
.footer {
  background-color: #1e1e1e;
  width: 100%;
  height: 200px;
  /* border-radius: 24px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  color: #f7f7f7;
}

.footer .social-medias {
  display: flex;
  align-items: center;
  gap: 32px;
  text-transform: capitalize;
}

.footer .social-medias a {
  color: #f7f7f7;
  text-decoration: none;
  transition: all linear 0.4s;
}

.footer .social-medias a:hover {
  transform: translateY(-8%);
  transition: all linear 0.4s;
}

.footer .go-back-icon svg {
  color: #fb8500;
}
/* footer */

/* main*/

/* ================= Mobile responsiveness ===================== */
@media screen and (max-width: 480px) {
  /* html */
  h1 {
    font-size: 34px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 135%;
  }

  hr {
    opacity: 0.2;
    margin-bottom: 20px;
  }
  /* html */

  /* main */
  /* header */
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 20px 20px;
  }

  header .logo-img {
    width: 130px;
    height: 130px;
  }

  header .logo-img img {
    width: 100%;
  }

  header .left-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  header .right-nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  header .right-nav a {
    padding: 18px 32px;
    border-radius: 10px;
    font-size: 14px;
  }

  nav {
    width: 100%;
    flex-direction: row;
    gap: 16px;
  }

  nav a {
    font-size: 16px;
  }

  nav .active {
    font-size: 18px;
  }
  /* header */
  /* 01 hero-section */
  .hero-section {
    width: 100%;
    height: 100vh;
  }

  .hero-gallery-section {
    width: 100%;
    height: 80vh;
  }

  .hero-contact-section {
    width: 100%;
    height: 80vh;
  }

  .hero-gallery-section .hero-content {
    top: 55%;
  }

  .hero-contact-section .hero-content {
    top: 60%;
  }

  .hero-section hr {
    color: #f7f7f7;
    margin: 10px 0px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 90%;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-content h1 {
    width: 100%;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-content a {
    width: 250px;
    font-size: 18px;
    padding: 20px 0px;
  }

  .path {
    display: flex;
    gap: 24px;
  }

  .path a {
    background: none;
    padding: 0px;
    width: fit-content;
  }

  .path .active {
    color: #fb8500;
  }
  /* 01 hero-section */

  /* about-section */
  .about-section,
  .causes-section,
  .partners {
    padding: 20px 20px;
  }

  .about-section {
    flex-direction: column;
    align-items: center;
  }

  .about-flex-container {
    flex-direction: column;
    gap: 20px;
    transform: scale(1);
    margin-top: 40px;
  }
  /* about-section */

  /* left about */
  .left-about {
    width: 100%;
  }
  /* left about */
  .right-about img {
    display: none;
  }
  /* left about */

  /* top three section */
  .two-cards {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;
  }
  /* top three section */

  /* card */
  .two-cards .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 220px;
    padding: 24px;
    color: #1e1e1e;
  }

  .card h1 {
    color: #fb8500;
    font-size: 32px;
  }

  .card h2 {
    font-size: 24px;
    color: #d9d9d9;
  }

  .two-cards .patterns {
    background: url("./img/card\ image.jpg");
    background-position: center;
    background-size: cover;
    border: none;
  }

  /* one card */
  .one-card .card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
    height: 280px;
    border: 1px solid #d9d9d9;
    border-radius: 24px;
    padding: 40px;
    color: #1e1e1e;
  }
  /* bottom two section */

  /* causes section */
  .causes-section {
    flex-direction: column;
    gap: 50px;
  }

  .causes-section .video,
  .causes-section .content {
    width: 100%;
  }

  .causes-section .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .causes-section .content p {
    font-size: 16px;
  }

  .causes-section .content a {
    padding: 20px;
    width: 240px;
    font-size: 18px;
  }

  .causes-section .video iframe {
    /* border-radius: 24px; */
    width: 100%;
    height: 450px;
    border-radius: 8px;
  }

  /* causes section */

  /* partner */
  .partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .partners .content p {
    font-size: 16px;
    width: 100%;
  }

  .partners-logos {
    width: 150%;
  }

  .partners img {
    width: 100%;
  }
  /* partner */

  /* gallery */

  .gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 60px 0px;
  }

  .gallery .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .gallery .row img {
    width: 100%;
    height: 290px;
    border-radius: 24px;
    transition: all linear 0.4s;
  }

  .gallery .row div img:hover {
    border-radius: 24px;
    transform: rotate(2deg);
    transition: all linear 0.4s;
  }
  /* gallery */

  /* contact section */
  .contact-section {
    flex-direction: column;
    gap: 16px;
    padding: 40px;
    width: 100%;
  }

  .contact-section .info {
    flex-direction: column;
    width: 100%;
  }

  .contact-section .info h1 {
    font-size: 18px;
    color: #fb8500;
  }

  /* contact section */

  /* footer */
  .footer {
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: 180px;
  }

  .footer .social-medias {
    gap: 16px;
  }

  .footer .social-medias a {
    font-size: 14px;
  }

  /* footer */
}

/* main */
/* ================= Mobile responsiveness ===================== */

/* ================= Tablet responsiveness ===================== */

/* ================= Tablet responsiveness ===================== */
